.venv/
venv/
ENV/

neural_networks/yolov12/results
neural_networks/rf_detr_nano/results

dataset/
runs/ 

camera_calibration/*

!camera_calibration/camera_calibration.py

__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.python-version

.DS_Store
Thumbs.db
